project:
  type: website
  output-dir: _site

website:
  title: "Timothy Oh"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    toc: true
    include-after-body:
      - macros.qmd
    css: styles.css

